# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.venv/
.uv/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Instance data
instance/*.lock
instance/last_sync.txt
instance/sync_status.json

# Logs
*.log
instance/barcode_cache.json
